<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A closer look at $refs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="container my-3">
        <h1>A closer look at $refs</h1>
        <p>$refs: </p>

        <p><strong>Example:</strong></p>
        <div id="app">
            <h5>{{title}}</h5>
            <button class="btn btn-primary" @click="show">Show Paragraph</button>
            <p class="pt-2" v-if="showParagraph">This is not always visible.</p>
        </div>

        <div id="app1">
            <h5>{{title}}</h5>
            <button class="btn btn-primary" @click="show" ref="myButton">Show Paragraph</button>
            <p class="pt-2" v-if="showParagraph">This is not always visible.</p>
        </div>
    </div>

    <script>
        var data = {
            title: "Title from outside",
            showParagraph: false
        }

        var vm1 = new Vue({
            el: '#app',

            data: data,

            methods: {
                show: function () {
                    this.showParagraph = true;
                    this.updateTitle("Vue JS instance (updated)");
                    this.$refs.myButton.innerText = "Test button";
                },

                updateTitle: function (title) {
                    this.title = title;
                }
            },

            watch: {
                title: function(value){
                    alert("title changed, new value: ", + value);
                }
            }
        })



        var vm2 = new Vue({
            el: '#app1',

            data: {
                title: 'The second Instance',
                showParagraph: false
            },

            methods: {
                show: function () {
                    this.showParagraph = true;
                    this.updateTitle("Vue JS instance (updated)");
                },

                updateTitle: function (title) {
                    this.title = title;
                }
            }
        })
    </script>
</body>

</html>